html{
	scroll-behavior: smooth;
}

header{
    background: white;
	font-family: Open Sans;
	margin: -10px;
	width: 100%;
	height: 100%;
	padding: 15px;
	/*border-bottom: black 3px solid;*/
}

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li{
	float: center;
	display: inline-block;
	margin-left: 30px;
	padding: 15px;
}

header li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}

header .weblogo{
	float: left;
}

header .weblogo h1{
	margin: 0;
}

header .weblogo h1 a{
	font-size: 30px;
	color: red;
	text-decoration: none;
}

header nav{
	float: right;
	margin-top: 25px;
}

#menu-index-items li a{
	background-color: none;
	color: #292F90;
	font-family: 'Open Sans';
	padding: 15 0px;
}

#menu-index-items li i{
	font-size: 24px;
}

#menu-index-items li a:hover{
	color: black;
}

/*.header-search {
	display: inline-block;
	float: right;
}*/

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

body{
	background-color: #292F90;
	font-family: Open Sans;
	color: black;
}

.main-body{
	margin: 30px;
	background-color: white;
}

.shop-gallery-container{
	padding-top: 15px;
}

.gallery {
	display: flex;
	margin: 15px 0;
}

.gallery-item {
	position: relative;
	display: block;
	flex: 1 1 0px;
	transition: transform 500ms;
	margin: 0 2px;
	text-decoration: none;
	color: black;
}

.gallery-item img {
	display: block;
	padding: 2px;
	width: 100%;
	object-fit: contain;
}

.gallery a{
	text-align: center;
}

.item-price{
	font-weight: bold;
}

@media screen and (max-width: 100%) {
	.gallery {
		width: 100%;
	}
}

footer{
	background-color: white;
	text-align: center;
	font-family: 'Open Sans';
	margin: -10px;
	padding-bottom: 25px;
}

.footer-text{
	padding: 10px;
}


